@font-face {
    font-family: IBMPlexSans;
    src: url(../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.otf);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: white;
    display: grid;
    justify-content: center;
}
